body > #ig-root {
  display: none;
}

#kaposcreen_container {
  position: absolute;
  height: 100%;
  .kaposcreen__sentences {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 450%;
    line-height: 120%;

    .kaposcreen__sentence {
      margin: 0 15px;
      border-bottom: 2px solid #ccc;
    }
  }

  .kaposcreen__footer {
    font-size: 150%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 8px;
  }
}
